{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <p>
        Si un compte correspond à cet email, un email contenant un lien de réinitialisation vous a été envoyé.
        Le lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous n'avew pas reçu d'email, merci de vérifié votre dossier des messages indésirables ou <a href="{{ path('app_forgot_password_request') }}">réessayer</a>.</p>
{% endblock %}
