@import "~bootstrap";


.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  
    input[type=file] {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }

    
    + a.btn {
      position: relative;
      bottom: 31px;
    }
}
