{% block footer %}
    <hr>
    <footer class="pb-5 pt-5">
        <div class="container">
            <span>© Tous droits réservés | {{ site.name }} {{ "now" | date('Y') }}</span>
        </div>
    </footer>
{% endblock %}