{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}

{% block body %}
    <h1>Modifier mon mot de passe</h1>
    <a href="{{ path('user_account') }}">Retourner à mon compte</a>
    <hr>
    {{ form(form) }}
{% endblock %}
